//********* COLORS *********
$h1: #E65C43;
$h2: #FFF;
$h3: #666;
$banner: #F25C43;
$bgBar: #F5F6F6;
$footer: #30353D;

//********* WEB FONTS *********
$fontStack: Roboto, sans-serif;

//********* IMAGE PATH *********
$imgPath: "../images/";

//********* COPYRIGHT YR *********
$copyright: "2021";